.headerStyle {
  width: 100%;
  background-color: gray;
  margin: auto;
  height: 20vh;
}
html body {
  background-color: black;
  color: white;
}
.icono-header {
  width: 50px;
  height: 50px;
}

.carrito {
  height: 40px;
  width: auto;
  vertical-align: middle;
  position: relative;
  float: right;
  margin-right: 5%;
}

a {
  text-decoration: none;
  color: rgb(73, 222, 233);
  font-size: 20px;
}
.formulario {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 200px;
}

button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
}
button:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
  button {
    display: block;
    margin: 0.4em auto;
  }
}

ul {
  list-style-type: none;
}

ul a {
  font-size: 15px;
}

.listaprod {
  text-transform: uppercase;
  font-size: 20px;
  width: 35%;
  border: 8px solid green;
  padding: 30px;
  margin: 20px;
}

.listbox {
  display: flex;
  flex-wrap: wrap;
}

.LoginBox {
  height: 40px;
  width: auto;
  vertical-align: middle;
  position: relative;
  float: right;
  margin-right: 5%;
}
